
/* Common */

body {
  background-color: #f6f6f6; font-family: 'Avenir', sans-serif; font-weight: 400; font-size: 110%; line-height: 1.9; color: #636363; padding: 0em 1.2em;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto Slab', serif; font-size: 120%; line-height: 1.25; }

h1 { margin: 0 auto; font-size: 200%; font-weight: 400; }

p { margin: 1em 0em 1.5em 0em; }

a         { text-decoration: none; color: #4e85c4; }
a:hover   { text-decoration: none; color: #98beeb; }
/* a:visited { text-decoration: none; color: #3468a4; } */

blockquote { border-left: 0.3em solid #e0e0e0; padding-left: 1em; margin-left: 1em;}

/* Nav */

.logo { margin: 2rem auto 3rem auto; width: 311px; height: 117px; background: url(/images/layout/logo.svg) no-repeat center center;}

nav { text-align: center;}
nav ul { list-style-type: none; margin: 1em auto; padding: 0 ; }
nav ul li { display: inline-block; margin: 0 1.5rem 0 1.5rem; }
nav ul li a { font-size: 120%; font-weight: 400; font-family: 'Roboto Slab', serif; }

/* Site */

.site {
  margin: 0 auto; max-width: 50rem; padding: 1rem;
}

/* About */

.ninaava {height: 150px; width: 150px; margin: 3.5em auto 0em auto; border-radius: 100px; background: url(/images/layout/nina.jpg) no-repeat center center; }
.oleava {height: 150px; width: 150px; margin: 3.5em auto 0em auto; border-radius: 100px; background: url(/images/layout/ole.jpg) no-repeat center center; }

.sub {margin: 1em auto; text-align: center;}
/* Posts */

/* standard */
.post-head { margin: 4rem auto 1.5rem auto; text-align: center; }
.post-head h1 {margin: .5rem auto; }
.post-container { margin: 1rem 0 4rem 0; }
.post-container h2 { margin-left: auto; margin-right: auto; max-width: 48rem; }
.post-container img { width: 100%; height: auto; display: block; margin: 0 auto; border: none; -moz-box-sizing: border-box; box-sizing: border-box; }
.content h2 { margin: 0; font-size: 170%; font-weight: 400;}

.linklog-marker { color: #cbcbcb; }

/* archive */

article .archive {margin: 0 auto;}

.archive-post { margin: 1rem auto; text-align: center; border-bottom: 1px solid #e1e1e1;}

.archive-post h3 { margin-bottom: 0rem; font-size: 150%; font-weight: 400;}

.archive-date { font-size: 90%; font-weight: 300; color: #bbb; }

.archive-container header h2 { font-size: 200%; font-weight: 300; text-align: center;}

.archive-container h1 { margin: 4rem auto 1.5rem auto; text-align: center;}

/* footer */

footer { margin: 0 auto; text-align: center; font-size: 1rem; padding: .5rem; border-top: 1px solid #e1e1e1;}
