---
layout: default
---
{% assign index=true %}
<div class="container">
  <div class="blog-index">
    {% for post in paginator.posts %}
      {% assign content=post.excerpt %}
      {% include article.html %}
    {% endfor %}

    <div class="pagination">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
          <a class='pagination-prev' href="/" class="previous">Neuere Beiträge</a>
        {% else %}
          <a class='pagination-prev' href="/page/{{ paginator.previous_page }}" class="previous">Neuere Beiträge</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="/page/{{ paginator.next_page }}" class="next">Ältere Beiträge</a>
      {% endif %}
    </div>

  </div>
</div>