<article class="post-container">
  <header class="post-head">
    <h1 class="post-headline">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <div class="post-info">
      <time class="meta-date">{{ post.date | date: "%d %B %Y" }}</time><a href="/about">{{site.author}}</a> in {{ post.categories | category_links }}
    </div>

  </header>
  <div class="content">
    {{ content }}
    
    {% if index and post.excerpt != post.content %}
      <p><a href='{{post.url}}'>weiter lesen...</a></p>
    {% endif %}
  </div>
</article>