{% assign linklog = false %}
{% assign index = false %}

{% if page.external-url %}
  {% capture linklog %}{{ page.external-url }}{% endcapture %}
{% elsif post.external-url %}
  {% capture linklog %}{{ post.external-url }}{% endcapture %}
{% endif %}
{% if post.url %}{% assign index = true %}{% endif %}

{% capture permalink %}{{ root_url }}{% if index %}{{ post.url }}{% else %}{{ page.url }}{% endif %}{% endcapture %}

{% capture title_url %}{% if linklog %}{{ linklog }}{% else %}{{ permalink }}{% endif %}{% endcapture %}

{% capture article_title %}{{ post.title }}{% if linklog %}<span class='linklog-marker'>{{site.linklog_marker}}</span>{% endif %}{% endcapture %}

<article class="post-container">
  <header class="post-head">
    <h1 class="post-headline">
      <a href="{{ title_url }}">{{ article_title }}</a>
    </h1>
    <div class="post-info">
      <time class="meta-date">{{ post.date | date: "%d %B %Y" }}</time>
        <a href="/about"><br> {{post.author}}</a> in {{ post.categories | category_links }}
    </div>

  </header>
  <div class="content">
    {{ content }}
    
    {% if index and post.excerpt != post.content %}
      <p><a href='{{post.url}}'>weiter lesen...</a></p>
    {% endif %}
  </div>
</article>