<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <div class="logo"></div>
            <nav class="main-nav">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/rules">Das Projekt</a></li>
                <li><a href="/archive">Archiv</a></li>
              </ul>
            </nav>
          </div>
          {{ content }}
          <footer>
            <form action="https://google.com/search" method="get">
              <input type="hidden" name="q" value="site:nodesign.de" />
              <input class="search" type="search" name="q" placeholder="Suche" />
            </form>
            <p><a href="/impressum">Impressum</a></p>
            <p>&copy; 2013 OddNina</p>
          </footer>
        </div>

    </body>
</html>
